.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4px;
  margin: 4px;
  gap: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 75%;
  background-color: rgb(26 28 33);
  border: 1px solid #ccc;
  border-radius: 4px;
}
.search input {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  border: none;
  outline: none;
  flex: 1;
  background-color: transparent;
}
.search-container .search-tool {
  padding: 2px;
  margin: 2px;
}
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-container,
.category-dropdown {
  width: 100%;
}
.select-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.category-dropdown {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: rgb(26 28 33);
  cursor: pointer;
  color: whitesmoke;
}

.title-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.title {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: whitesmoke;
  font-size: 2em;
  padding: 12px;
  padding-bottom: 13px;
  font-family: initial;
}

.container-product-list {
  padding: 1rem;
  height: 100%;
  min-height: 100vh;
  background-color: rgb(21 22 25);
}

.grid {
  display: grid;
  gap: 1rem;
}
.grid.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: 640px) {
  .search {
    flex-direction: row;
  }
}
@media (min-width: 640px) {
  .search-container {
    width: 75%;
  }

  .category-dropdown {
    width: auto;
    min-width: 200px;
  }
  .select-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 18px;
}

}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
